<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error 404</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="error-container" text-center>
    <ion-icon name="alert-circle-outline" size="large"></ion-icon>
    <h1>Página no encontrada</h1>
    <p>Lo sentimos, la página que buscas no existe.</p>
    <ion-button expand="block" color="primary" routerLink="/home">Volver al Home</ion-button>
  </div>
</ion-content>

