<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a RegistrAPP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Inicia sesion para registrar tu asistencia</p>
        <ion-button expand="full" (click)="exploreMore()">Iniciar sesion</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
