<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>¡Hola, {{ nombreUsuario }}</p>
        <p>Has iniciado sesión exitosamente.</p>

        <!-- Botón de Admin -->
        <ion-button expand="full" color="primary" routerLink="/mantenedor">Admin</ion-button>

        <!-- Botón Generar QR -->
        <ion-button expand="full" color="secondary" routerLink="/genqr">Generar QR</ion-button>

        <!-- Botón Escanear QR -->
        <ion-button expand="full" color="tertiary" (click)="startScan()">Escanear QR</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>



